<h1>Seth Rainha</h1>
<%= image_tag("sethrainha.jpg", size: "500") %>
<p>Seth is from Paradise, California. It's 3 hours north of Berkeley. He is a senior at Cal, GO BEARS!</p>
<h3>As a 5 year old kid, Seth broke his arm trying to ram through a barn door wall.</h3>
<h4>Excited to become a hella good rails developer.. </h4>
<style>
p {
    color: white;
    background-color: green;
}
h3 {
    color: red;
    font-weight: bold;
}
h4 {
    color: purple;
    text-decoration: underline;
}
</style>


